extends ../layouts/default

mixin post(post)
	.col-md-6.col.lg-4.col-12.mb-3
		.card.text-center.mhc(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
			if post.image.exists
				img.card-img-top(src=post._.image.fit(), width="100%")
			.card-body
				
				p.card-text.font-weight-light!= post.content.brief

				a.btn.btn-primary(href='/blog/post/' + post.slug)  Ver contenido
				
				hr

				if post.categories && post.categories.length
					p.text-left Aparece en:
					each cat, i in post.categories
						a.font-weight-light.text-primary.txtsmall(href='/blog/' + cat.key)= cat.name
						
block content

	+primerSeccion('Cursos')

	.container.mt-3: .row#cursibiris
		.col-sm-8.col-md-9
			if filters.category && !data.category
				h3.text-muted Categoría inexistente.
			else
				if data.posts.results.length
					if data.posts.totalPages > 1
						h4.text-weight-normal Mostrando 
							strong #{data.posts.first}
							|  to 
							strong #{data.posts.last}
							|  of 
							strong #{data.posts.total}
							|  posts.
					else
						h4.text-weight-normal Mostrando #{utils.plural(data.posts.results.length, '* post')}.
					.blog.row
						each post in data.posts.results
							+post(post)
					
					if data.posts.totalPages > 1
						ul.pagination
							if data.posts.previous
								li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
							else
								li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
							each p, i in data.posts.pages
								li(class=data.posts.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
							if data.posts.next
								li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
							else
								li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
				else
					if data.category
						h3.text-muted El curso de #{data.category.name} está en proceso.
					else
						h3.text-muted No hay ningún post aún.
		
		if data.categories.length
			.col-sm-4.col-md-3.position-static
				h3 Cursos disponibles
				table.table.table-striped
					tbody
						tr
							td.bg-light.text-center
								a.text-primary.text-center.font-weight-light(href='/blog', class=!data.category ? 'active' : false) Todos los cursos
					each cat in data.categories	
						tr
							td.text-center
								a.text-primary.font-weight-light(href='/blog/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false)= cat.name
